{{extend 'layout.html'}}
{{include}}

<style type="text/css">
        ul li {
         display:inline;
         margin-left: 2em;
        font-size:20px;   
        }
    </style>
<ul>
      <li class="active"><a href="{{=URL('create_post')}}">Upload Recipe</a></li>
      <li><a href="{{=URL('viewallposts')}}">View All Recipes</a></li>
      <li><a href="{{=URL('viewmyposts')}}">View My Recipes</a></li>
      <li><a href="{{=URL('view_people')}}">View All Users</a></li>
      <li><a href="{{=URL('home')}}">View My Profile</a></li>
    
</ul>
<br>
<hr>
<h2>Upload A Recipe</h2>
<fieldset style="border:1px solid DarkGray;padding: 1em;">
	<pre>    
        <div style="width: 100px;">
        {{=form}}
		</div>
	</pre>
</fieldset>
