{{extend 'layout.html'}}
{{include}}
<style type="text/css">
        .active {
         display:inline;
         margin-left: 2em; 
         font-size:20px;  
        }
    </style>
<ul>
      <li class="active"><a href="{{=URL('create_post')}}">Upload Recipe</a></li>
      <li class="active"><a href="{{=URL('viewallposts')}}">View All Recipes</a></li>
      <li class="active"><a href="{{=URL('viewmyposts')}}">View My Recipes</a></li>
      <li class="active"><a href="{{=URL('view_people')}}">View All Users</a></li>
      <li class="active"><a href="{{=URL('home')}}">View My Profile</a></li>
</ul>
<br>
<hr>

<h2> All Recipes </h2>
{{if len(abcd) == 0 :}}
    No Recent Recipes
{{pass}}
<br>
<ul>
{{for i in abcd:}}
        
        
 	<li>
    	{{=i['post_text']}}
        <br>
        {{temp = db(db.posts.id == i['id']).select(db.posts.image)}}
       	<div><a href="{{=URL('recipe',args=i['id'])}}">
        <img style="width:200px" src="{{=URL('download', args=temp[0]['image'])}}"></img>
        </a></div>
    
        <br />
        <span class="i">
    
        On {{=i.created_on}} by <a href = "homepage/{{=i.created_by}}">{{=i.created_by.first_name}}</a>

        </span>
        <br />
        <br />
        <div>
            {{thelikes = db((db.likes.username == auth.user.id) & (db.likes.postid == i['id'])).select(db.likes.ALL)}}
            {{if thelikes :}}
            <span><a href ="{{=URL('notlike',args=i['id'])}}"><input type="button" style="width:60px" name="like" value="Unlike"></a></span>
        			   {{=i['num']}}
            {{else:}}
            <span><a href ="{{=URL('addlike',args=i['id'])}}"><input type="button" style="width:60px" name="like" value="Like"></a>
        			   {{=i['num']}}</span>
{{pass}}
		</div>
        <br>
        Comments : 
        <form action="post1" method="post">
        <input type="text" style="width:400px" name="comment" placeholder="Enter comment here">
        <input type="hidden" name="pid" value={{=i['id']}}>
        <input type="hidden" name="prev" value="viewallposts">
       	</form>

       	{{for post in comments:}}
            {{if post['postid'] == i['id']:}}
                <div class="post" style="background-color: #E0E0E0;">
                  On {{=post.created_on}} <a href = "homepage/{{=i.created_by}}">{{=post.created_by.first_name}}</a>
                  says <span class="post_body">{{=post.body}}</span>
                </div>
                <br />
			{{pass}}
		{{pass}}        
        </li>		
	{{pass}}			
</ul>
<div style="float:center;width:100%;text-align:center">
    <span><a style="float:center" href="{{=URL('changeVarDecrease')}}">previous</a> 
        &nbsp : &nbsp 
        <a style="float:center" href="{{=URL('changeVarIncrease')}}">next</a></span><br>
 </div>
